@media (min-width: 375px) and (max-width: 799px) {

    :root{
        /* color Primary */
            --Soft-orange: hsl(35, 77%, 62%);
            --Soft-red: hsl(5, 85%, 63%);
        /* color Neutral */
            --Off-white: hsl(36, 100%, 99%);
            --Grayish-blue: hsl(233, 8%, 79%);
            --Dark-grayish-blue: hsl(236, 13%, 42%);
            --Very-dark-blue: hsl(240, 100%, 5%);
        }
    
    body {
        width: 90vw;
        height: auto;
    }

    .cabecalho {
        width: auto;
        height: auto;
    }

    .sigla {
        font-size: 50px;
    }

    .menu {
        z-index: 1;
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        bottom: 0;
        left: 25%;
        height: 100vh;
        background-color: var(--Off-white);
    }
    
    .close-menu-label::after {
        content: url(./../images/icon-menu.svg);
        display: block;
        z-index: 2;
        top: 40px;
        right: 30px;
        position: fixed;
        padding: 5px;
        border-radius: 5px;
    }
    
    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: url(./../images/icon-menu-close.svg);
    }

    .secao {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 22px;
    }

    .main-content {
        flex-direction: column;
        height: auto;
        align-items: center;
        margin-bottom: 50px;
    }

    .main-content__primary {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .main-content__primary__img {
        background-image: url(./../images/image-web-3-mobile.jpg);
        width: 100%;
        background-size: cover;
    }

    .main-content__primary__info {
        flex-direction: column;
        height: auto;
        gap: 0;
        text-align: start;
    }

    .main-content__primary__info h2 {
        font-size: 45px;
        margin: 10px 0;
    }

    .main-content__primary__info__text p {
        line-height: 30px;
        height: auto;
        margin-bottom: 30px;
    }

    .main-content__secundary {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    .main-content__secundary__info {
        margin: 15px;
    }

    .main-content__secundary__info h2 {
        margin-bottom: 15px;
    }

    .main-content__secundary__info__elements {
        padding-bottom: 30px;
    }

    .main-content__secundary__info__elements h3 {
        height: auto;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .main-footer {
        grid-template-columns: 1fr;
        row-gap: 25px;
    }

    .footer-content {
        gap: 20px;
    }

    .footer-content img {
        width: 130px;
    }
}

@media (min-width: 800px) and (max-width: 1199px) {

    body {
        width: 85vw;
        height: auto;
    }

    .cabecalho {
        width: auto;
        height: auto;
    }

    .sigla {
        font-size: 60px;
    }

    .main-content {
        flex-direction: column;
        height: auto;
        align-items: center;
        margin-bottom: 50px;
    }

    .main-content__primary {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .main-content__primary__img {
        background-image: url(./../images/image-web-3-mobile.jpg);
        width: 100%;
        background-size: cover;
    }

    .main-content__primary__info {
        flex-direction: row;
        align-items: center;
        height: auto;
        margin-top: 20px;
    }

    .main-content__primary__info h2 {
        font-size: 55px;
        margin: 10px 0;
    }

    .main-content__primary__info__text p {
        line-height: 40px;
        height: auto;
        margin-bottom: 30px;
    }

    .main-content__secundary {
        width: 100%;
    }

    .main-content__secundary__info {
        margin: 15px;
    }

    .main-content__secundary__info__elements {
        padding-bottom: 30px;
    }

    .main-content__secundary__info__elements h3 {
        height: auto;
    }

    .main-footer {
        grid-template-columns: 1fr 1fr;
        row-gap: 25px;
    }

    .footer-content {
        gap: 20px;
    }

    .footer-content img {
        width: 130px;
    }
}

@media (min-width: 1200px) and (max-width: 1420px) {
    body {
        width: 95vw;
        height: auto;
    }

    .main-content__primary {
        margin-right: 10px;
        height: auto;
    }

    .main-content__primary, .main-content__primary__img {
        width: 100%;
    }

    .main-content__primary__info h2 {
        font-size: 55px;
        margin: 10px 0;
    }

    .main-content__secundary {
        width: 60%;
    }

    .main-footer {
        margin-top: 20px;
    }
}